.wrap{
	.head {
		position: fixed;
		top: 0;
		left: 0;
		width: 100%;
		min-width: 1280px;
		height: auto;
		line-height: 80px;
		border-bottom: 1px solid #eeeeee;
		box-sizing: border-box;
		-moz-box-sizing: border-box;
		-webkit-box-sizing: border-box;
		z-index: 9;
		font-weight: bold;
		background-color: #fff;
		.link {
			float: left;
			width: 110px;
			height: 80px;
			cursor: pointer;
			&:hover {
				.head-menu-btn:before {
					opacity: 1;
				}
			}
		}
		.link.head-menu {
			border-right: 1px solid #eeeeee;
		}
		.fr {
			.link {
				border-left: 1px solid #fff;
				border-right: 1px solid #fff;
				&:last-child {
					border-right: 0;
				}
				.head-search-hover {
					position: absolute;
					top: 0;
					left: 0;
					width: 20px;
					height: 20px;
					background-position: -652px 0px;
					transition: all .125s ease;
					opacity: 0;
					visibility: hidden;
				}
				.head-search-close-defalut {
					position: absolute;
					right: 3px;
					top: 3px;
					width: 14px;
					height: 14px;
					background-image: url(/images/sprite.png);
					background-repeat: no-repeat;
					background-position: -693px -20px;
					transition: all .125s ease;
					opacity: 0;
					visibility: hidden;
				}
				.head-search-close-hover {
					position: absolute;
					right: 3px;
					top: 3px;
					width: 14px;
					height: 14px;
					background-image: url(/images/sprite.png);
					background-repeat: no-repeat;
					background-position: -707px -20px;
					transition: all .125s ease;
					opacity: 0;
					visibility: hidden;
				}
				.head-search-close {
					&:hover {
						background-position: -526px -32px;
					}  
				}
				&:hover{
					.head-search-defalut {
						opacity: 0;
						visibility: hidden;
					}
				}
			}
			.head-search {
				width: auto;
			}
			.head-search-btn {
				position: relative;
				width: auto;
				width: 20px;
				height: 20px;
				margin: 30px 20px;
				display: block;
				border-left: 0;
				border-right: 0;
				cursor: pointer;
			}
		}
		.head-search-btn {
			.head-search-defalut {
				position: absolute;
				top: 0;
				left: 0;
				width: 20px;
				height: 20px;
				background-position: -280px -40px;
				transition: all .125s ease;
			}
			.head-search-hover {
				position: absolute;
				top: 0;
				left: 0;
				width: 20px;
				height: 20px;
				background-position: -652px 0px;
				transition: all .125s ease;
				opacity: 0;
				visibility: hidden;
			}
			.head-search-close-defalut {
				position: absolute;
				right: 3px;
				top: 3px;
				width: 14px;
				height: 14px;
				background-image: url(/images/sprite.png);
				background-repeat: no-repeat;
				background-position: -693px -20px;
				transition: all .125s ease;
				opacity: 0;
				visibility: hidden;
			}
			.head-search-close-hover {
				position: absolute;
				right: 3px;
				top: 3px;
				width: 14px;
				height: 14px;
				background-image: url(/images/sprite.png);
				background-repeat: no-repeat;
				background-position: -707px -20px;
				transition: all .125s ease;
				opacity: 0;
				visibility: hidden;
			}
			.head-search-close:hover {
				background-position: -526px -32px;
			}
			&:hover {
				.head-search-defalut {
					opacity: 0;
					visibility: hidden;
					.head-search-hover {
						opacity: 1;
						visibility: visible;
					}
				}
			}
		}
		.icon {
			background-image: url(/images/sprite.png);
			background-repeat: no-repeat;
			display: block;
			position: relative;
		}
		.head-menu-btn {
			width: 29px;
			height: 20px;
			background-position: -306px 0px;
			margin: 30px auto;
			&:before {
				background-image: url(/images/sprite.png);
				background-position: -306px -20px;
				background-repeat: no-repeat;
				content: "\20";
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;
				opacity: 0;
				z-index: 2;
				transition: all .125s ease;
			}
		}
		.head-search-close {
			&:hover {
				.head-search-close-defalut {
					opacity: 0;
					visibility: hidden;
				}
				.head-search-close-hover {
					opacity: 1;
					visibility: visible;
				}
			}
		}
		.head-search{
			.head-search-body {
				position: relative;
				font-weight: normal;
				transition: all .5s ease;
				opacity: 0;
				visibility: hidden;
				transform: translateX(10%);
				input {
					height: 46px;
					margin: 16px 0;
					transition: all .125s ease;
					border: 0;
					padding-left: 20px;
					font-size: 16px;
					color: #444;
					width: 200px;
					background: #eeeeee;
				}
			}
			.head-search-search_btn {
				position: absolute;
				right: 2px;
				top: 18px;
				width: 68px;
				height: 44px;
				line-height: 44px;
				text-align: center;
				background-color: #ffffff;
				transition: all .125s ease;
				&:hover {
					background-color: #a6cc63;
					color: #fff;
				}
				a{
					color:#444;
				}
			}
		}
		.open-son {
			.head-search-body {
				opacity: 1;
				visibility: visible;
				transform: translateX(0);
			}
			.head-search-btn {
				.head-search-defalut {
					opacity: 0;
					visibility: hidden;
				}
				.head-search-hover {
					opacity: 0 !important;
					visibility: hidden !important;
				}
				.head-search-close-defalut {
					opacity: 1;
					visibility: visible;
				}
				&:hover{
					.head-search-close-defalut {
						opacity: 0;
						visibility: hidden;
					}
					.head-search-close-hover {
						opacity: 1;
						visibility: visible;
					}
					
				}
				
			}
		}
		.logo {
			float: left;
			width: 180px;
			height: 40px;
			background-image: url(/images/sprite.png);
			background-position: 0px 0px;
			background-repeat: no-repeat;
			margin-left: 42px;
			margin-top: 17px;
			.link {
				width: 100%;
				height: 100%;
			}
		}
		.logo.center {
			position: absolute;
			top: 50%;
			left: 50%;
			margin-left: -90px;
			margin-top: -20px;
		}
		.home {
			padding-left: 50px;
			font-size: 18px;
			float: left;
			width: 100px;
			height: 30px;
			line-height: 30px;
			margin: 25px 0;
			color: #444444;
			transition: all 0.125s ease;
			font-weight: 700;
			cursor: pointer;
			&:hover {
				color: #a6cc63;
				&:after {
					visibility: visible;
					opacity: 1;
				}
				&:before {
					visibility: hidden;
					opacity: 0;
				}
			}
			&:before {
				content: "\20";
				position: absolute;
				top: 27px;
				left: 20px;
				width: 22px;
				height: 22px;
				background-image: url(/images/sprite.png);
				background-position: -222px -1142px;
				transition: all 0.125s ease;
			}
			&:after {
				content: "\20";
				position: absolute;
				top: 27px;
				left: 20px;
				width: 22px;
				height: 22px;
				background-image: url(/images/sprite.png);
				background-position: -244px -1142px;
				visibility: hidden;
				opacity: 0;
				transition: all 0.125s ease;
			}
			
		}
		.head-select {
			position: relative;
			width: 75px;
			.icon {
				width: 20px;
				height: 20px;
			}
			.select-list {
				background-color: #fff;
				position: absolute;
				top: 79px;
				left: 50%;
				min-width: 100%;
				border: 1px solid #eeeeee;
				opacity: 0;
				visibility: hidden;
				transition: all .125s ease;
				font-weight: lighter;
				font-family: Verdana;
				transform: translateX(-50%);
				-webkit-transform: translateX(-50%);
				-moz-transform: translateX(-50%);
				-ms-transform: translateX(-50%);
				-o-transform: translateX(-50%);
				.select-item {
					height: 50px;
					line-height: 50px;
					padding-left: 10px;
					padding-right: 10px;
					transition: all .125s ease;
					border-bottom: 1px solid #eeeeee;
					overflow: hidden;
					text-overflow: ellipsis;
					white-space: nowrap;
					&:last-child {
						border-bottom: 0;
					}
					&:hover {
						background-color: #f8f8f8;
					}
					.icon {
						display: inline-block;
						vertical-align: middle;
					}
				}
				.current {
					color: #a6cc63;
					.icon-cns {
						background-position: -525px -76px;
					}
					.icon-cn {
						background-position: -525px -118px;
					}
					.icon-en {
						background-position: -525px -97px;
					}
				}
			}
			&:before {
				content: "\20";
				background-image: url(/images/sprite.png);
				background-repeat: no-repeat;
				background-position: -342px -60px;
				width: 13px;
				height: 8px;
				position: absolute;
				top: 50%;
				margin-top: -4px;
				right: 15px;
				transition: all .125s ease;
			}
			.icon-cns {
				background-position: -280px -20px;
			}
			.icon-cn {
				background-position: -525px -54px;
			}
			.icon-en {
				background-position: -302px -43px;
			}
		}
		.head-select.lang {
			width: auto;
			padding-right: 15px;
		}
		.select-current {
			padding: 30px 15px;
			line-height: 20px;
		}
		.head-select.open-son {
			.select-list {
					opacity: 1;
					visibility: visible;
				}
		}
		.head-user {
			width: auto;
			color: #444444;
			cursor: inherit;
			text-transform: uppercase;
			position: relative;
			padding: 0 10px;
			box-sizing: border-box;
			-moz-box-sizing: border-box;
			-webkit-box-sizing: border-box;
			img {
				vertical-align: middle;
				float: left;
				border-radius: 50%;
				margin: 25px 0;
				margin-right: 10px;
				height: 30px;
				width: 30px;
			}
			.link-link {
				color: #444444;
				cursor: pointer;
				&:hover {
					transition: all .125s ease;
					color: #a6cc63;
				}
				
			}
			.link-link-name {
				float: left;
				overflow: hidden;
				text-overflow: ellipsis;
				white-space: nowrap;
				color: #444444;
			}
			.link-link-coupon {
				background-color: #fff;
				position: absolute;
				top: 129px;
				width: 100%;
				height: 50px;
				line-height: 50px;
				left: -1px;
				border: 1px solid #eeeeee;
				color: #444444;
				opacity: 0;
				visibility: hidden;
				transition: all .125s ease;
				border-top: none;
				&:after {
					opacity: 0;
					content: '';
					width: 6px;
					height: 6px;
					background: #a6cc63;
					border-radius: 50%;
					position: absolute;
					right: 20px;
					top: 10px;
				}
			}
			.link-link-logout {
				background-color: #fff;
				position: absolute;
				top: 178px;
				width: 100%;
				height: 50px;
				line-height: 50px;
				left: -1px;
				border: 1px solid #eeeeee;
				color: #444444;
				opacity: 0;
				visibility: hidden;
				transition: all .125s ease;
				&:after {
					opacity: 0;
					content: '';
					width: 6px;
					height: 6px;
					background: #a6cc63;
					border-radius: 50%;
					position: absolute;
					right: 20px;
					top: 10px;
				}
			}
			.link-link-message {
				background-color: #fff;
				position: absolute;
				top: 79px;
				width: 100%;
				height: 50px;
				line-height: 50px;
				left: -1px;
				border: 1px solid #eeeeee;
				color: #444444;
				opacity: 0;
				visibility: hidden;
				transition: all .125s ease;
				&:after {
					opacity: 0;
					content: '';
					width: 6px;
					height: 6px;
					background: #a6cc63;
					border-radius: 50%;
					position: absolute;
					right: 20px;
					top: 10px;
				}
			}
			.link-link-message.msg,
			.link-link-logout.msg,
			.link-link-coupon.msg {
				&:after {
					opacity: 1
				}
			}
		}
		.default {
			text-align: center;
			color: #444444;
			cursor: inherit;
			text-transform: uppercase;
			position: relative;
			width: auto;
			/* border-bottom: 1px solid #eeeeee; */
			box-sizing: border-box;
			-moz-box-sizing: border-box;
			-webkit-box-sizing: border-box;
			&:hover {
				border-left: 1px solid #eeeeee;
				border-right: 1px solid #eeeeee;
				background-color: #f8f8f8;
			}
			.link-link {
				padding: 0 25px;
				color: #444444;
				display: block;
			}
			
		}
		.head-select.open-son,
		.head-user.open-son {
			border-left: 1px solid #eeeeee;
			border-right: 1px solid #eeeeee;
			background-color: #f8f8f8;
		}
		.open-son {
				.link-link-logout,
				.link-link-message,
				.link-link-coupon {
					opacity: 1;
					transition: all .125s ease;
					visibility: visible;
					padding-left: 15px;
					box-sizing: border-box;
					&:hover {
				background-color: #f8f8f8;
				}
	
			}
		}
		.head-cart {
			width: 26px;
			height: 20px;
			background-position: -280px 0px;
			margin: 30px auto;
			position: relative;
		}
		.head-cart-num {
			position: absolute;
			top: -10px;
			left: -10px;
			min-width: 16px;
			padding: 1px 3px;
			height: 20px;
			line-height: 20px;
			color: #fff;
			text-align: center;
			background-color: #a6cc63;
			border-radius: 50%;
			font-size: 12px;
			font-style: normal;
		}
	}
	.fl {
		float: left;
	}

	.fr {
			float: right;
	}
	
	.after:after {
			content: "\20";
			height: 0;
			display: block;
			clear: both;
	}
	}
.nav-body {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	width: 340px;
	height: 100vh;
	background: #ffffff;
	overflow-y: auto;
	z-index: 999;
	-webkit-transform: translateX(-340px);
	transform: translateX(-340px);
	.top {
		height: 78px;
		border-bottom: 1px solid #eeeeee;
		padding: 0 20px;
		.bt-close {
			height: 78px;
			line-height: 78px;
			display: block;
			width: 70px;
			text-align: center;
			margin-left: auto;
			font-size: 16px;
			position: relative;
			padding-right: 20px;
			cursor: pointer;
			overflow: hidden;
			text-overflow: ellipsis;
			white-space: nowrap;
			transition: all .125s ease;
			&:hover {
				color: #a6cc63;
				&:before {
					background: #a6cc63;
				}
				&:after {
					background: #a6cc63;
				}
			}
			&:before {
				transition: all .125s ease;
				content: "\20";
				width: 20px;
				height: 3px;
				position: absolute;
				right: 0;
				top: 37px;
				background: #202121;
				-webkit-transform: rotate(45deg);
				transform: rotate(45deg);
			}
			&:after {
				transition: all .125s ease;
				content: "\20";
				width: 20px;
				height: 3px;
				position: absolute;
				right: 0;
				top: 37px;
				background: #202121;
				-webkit-transform: rotate(135deg);
				transform: rotate(135deg);
			}
		}
	}
	.menu-list {
		.menu-item {
			.link {
				border-bottom: 1px solid #eeeeee;
				color: #444444;
				display: block;
				height: 78px;
				line-height: 78px;
				padding: 0 30px;
				font-size: 16px;
				transition: all .125s ease;
				overflow: hidden;
				text-overflow: ellipsis;
				white-space: nowrap;
				font-weight: bold;
				&:hover {
					color: #a6cc63;
					background-color: #f8f8f8;
				}
			}
			.menu-list-list {
				max-height: 0;
				overflow: hidden;
				transition: all .4s ease;
				.menu-item-third {
					.link-link {
						padding-right: 30px;
						padding-left: 50px;
						height: 78px;
						line-height: 78px;
						overflow: hidden;
						text-overflow: ellipsis;
						white-space: nowrap;
						display: block;
						border-bottom: 1px solid #eeeeee;
						color: #444;
						-webkit-transition: all .4s ease-in-out;
						transition: all .4s ease-in-out;
						&:hover {
							background-color: #f8f8f8;
							color: #a6cc63;
						}
					}
				}
			}
			.open-son {
				.menu-list-list {
					max-height: 1000px;
				}
			}
		}
		.active {
			.link {
				color: #a6cc63;
				background-color: #f8f8f8;
			}
		}
		.more{
			.link {
				position: relative;
				&:before {
					content: "\20";
					background-image: url(../images/sprite.png?201803271920);
					background-repeat: no-repeat;
					background-position: -342px -60px;
					width: 13px;
					height: 8px;
					position: absolute;
					top: 50%;
					margin-top: -4px;
					right: 20px;
					transition: all .125s ease;
				}
			}
			
		}
		.more.open-son {
			.link:before {
				-webkit-transform: rotate(180deg);
				transform: rotate(180deg);
			}
			
		}
		
	}
}
.menu-list-list{
    .more-third {
		.link-link {
			&:before {
				content: "\20";
				background-image: url(../images/sprite.png?201803271920);
				background-repeat: no-repeat;
				background-position: -342px -60px;
				width: 13px;
				height: 8px;
				position: absolute;
				top: 50%;
				margin-top: -4px;
				right: 20px;
				transition: all .125s ease;
			}
			position: relative;
		}
	}
	.more-third.open-third{
		.link-link{
			&::before{
				-webkit-transform: rotate(180deg);
    			transform: rotate(180deg);
			}
		}
	}
}
.menu-list-third {
    max-height: 0;
    overflow: hidden;
	transition: all .4s ease;
}
.menu-list-third.third {
	.menu-item-item {
		.link-third {
			padding-left: 70px;
		}
	}
}
.menu-item-third.open-third {
    .menu-list-third {
		max-height: 1000px;
	}
}
.menu-item-third{
	.menu-list-third{
		.menu-item-item{
			.link-third {
				padding-right: 30px;
				padding-left: 50px;
				height: 78px;
				line-height: 78px;
				overflow: hidden;
				text-overflow: ellipsis;
				white-space: nowrap;
				display: block;
				border-bottom: 1px solid #eeeeee;
				color: #444;
				-webkit-transition: all .4s ease-in-out;
				transition: all .4s ease-in-out;
			}
		}
	}
	.menu-list-third.third {
		.menu-item-item {
			.link-third {
				padding-left: 70px;
				&:hover {
					background-color: #f8f8f8;
					color: #a6cc63;
				}
			}
		}
	}
}


